<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h1{
                display: inline-block;
            }
        </style>

    </head>
    <body>
        <h1>Most Popular Posts</h1> <a href="{% url 'secrets:new'%}">Back</a>
    {% for secrets in all_secrets %}
        <p>{{secrets.secret}} ({{ secrets.created_at|timesince}} ago) {{secrets.total_likes}} likes {%if secrets.user.id == user_id%}<a href="{%url 'secrets:delete'%}{{secrets.id}}/p">delete</a>{%else%}
        
            
        <a href="{%url 'secrets:like'%}{{user_id}}/{{secrets.id}}/p">like</a>
        

        {%endif%}</p>
        {%endfor%}





    </body>
</html>