<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1>Welcome {{user_name}}!</h1>
        {%for error in messages%}
        <p>error</p>
        {%endfor%}
        <form action="{% url 'secrets:add' %}" method="post">
        {%csrf_token%}
            <input type="hidden" name="user" value="{{request.session.user_id}}">
            <textarea rows="3" cols="20" name="secret"></textarea>
            <input type="submit" name="submit" value="Post">
        </form>
        <a href="{% url 'secrets:popular' %}"> Most Popular Posts</a>
        
        {% for secrets in all_secrets|slice:":3" %}
        <p>{{secrets.secret}} ({{ secrets.created_at|timesince}} ago) {{secrets.total_likes}} likes {%if secrets.user.id == user_id%}<a href="{%url 'secrets:delete'%}{{secrets.id}}/n">delete</a>{%else%}
        <a href="{%url 'secrets:like'%}{{user_id}}/{{secrets.id}}/n">like</a>
        

        {%endif%}</p>
        {%endfor%}

        
    </body>
</html>